<div class="row top-hero-wrapper text-center pt-5">
  <h2 class="col-xs-6 col-lg-12">LINEbotくん</h2>
  <p class="pb-3 col-xs-6 col-lg-12">LINEの自動返信を設定できるアプリです。</p>
  <div class="center-block col-xs-6 col-lg-12">
    <%= link_to "始める", new_user_path, class: "btn btn-outline-info mb-3" %>
  </div>
  <div class="center-block col-xs-6 col-lg-12">
    <%= link_to "ログイン", login_path, class: "btn btn-outline-danger mb-3" %>
  </div>
</div>