<div class="top-hero-wrapper text-center pt-5">
  <h1>title</h1>
  <h2 class="pb-3">texttexttexttexttext</h2>
  <div class="center-block">
    <%= link_to "始める", new_user_path, class: "btn btn-outline-info mb-3" %>
  </div>
  <div class="center-block">
    <%= link_to "ログイン", login_path, class: "btn btn-outline-danger mb-3" %>
  </div>
  <div class="center-block">
    <%= link_to "LINEログイン", "https://access.line.me/oauth2/v2.1/authorize", response_type: "code",
    client_id: 1626757935, redirect_uri: "https://line-botkun.herokuapp.com", state: 1111, class: "btn btn-outline-success" %>
  </div>
</div>