<div class="top-hero-wrapper text-center pt-5">
  <h1>LINEbotくん</h1>
  <p class="pb-3">LINEの自動返信を設定できるアプリです。</p>
  <div class="center-block">
    <%= link_to "始める", new_user_path, class: "btn btn-outline-info mb-3" %>
  </div>
  <div class="center-block">
    <%= link_to "ログイン", login_path, class: "btn btn-outline-danger mb-3" %>
  </div>
</div>