body {
  background-image: url(top-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.alert {
  margin-bottom: 0px;
  z-index: 10000;
}

.top-hero-container {
  padding: 10px 30px 80px 30px;
}

.line-bc {
  padding: 0 20px;
}

.title {
  text-align: center;
  padding: 25px;
}

.add {
  background-color: rgba(255, 255, 255, 0.5);
}

.send_message {
  background: #ffcce5;
}

.receive_message {
  background:#cce5ff;
}

.option {
  padding: 15px 10px 0 10px;
}

.send-label {
  background: #ffcce5;
}

.receive-label {
  background:#cce5ff;
}
