.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.line-bc {
  padding: 0 20px;
  // max-width: 450px;
}

.send_message {
  background: #ffcce5;
}

.receive_message {
  background:#cce5ff;
}

.option {
  padding: 15px 10px 0 10px;
}

.send-label {
  background: #ffcce5;
}

.receive-label {
  background:#cce5ff;
}
